In [1]:
import pandas as pd

In [2]:
# Load the dataset
posts_df = pd.read_csv("../data/processed/all_posts_with_features.csv")

# Inspect the structure
display(posts_df.info())
display(posts_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1251 non-null   int64
 1   title                     925 non-null    object
 2   upvote_count              1251 non-null   int64
 3   view_count                1251 non-null   int64
 4   rating_count              1251 non-null   int64
 5   average_rating_all_posts  1251 non-null   int64
 6   share_count               1251 non-null   int64
 7   video_link                1251 non-null   object
 8   is_locked                 1251 non-null   bool
 9   created_at                1251 non-null   object
 10  category_id               1251 non-null   int64
 11  category_name             1251 non-null   object
 12  post_id                   835 non-null    float64
 13  total_views               1251 non-null   float64
 14  total_likes               1251 non-null   float64
 15  total_inspirations        1251 non-null   float64
 16  total_ratings             1251 non-null   float64
 17  average_rating_features   1251 non-null   float64
dtypes: bool(1), float64(6), int64(7), object(4)
memory usage: 167.5+ KB

None

,id,title,upvote_count,view_count,rating_count,average_rating_all_posts,share_count,video_link,is_locked,created_at,category_id,category_name,post_id,total_views,total_likes,total_inspirations,total_ratings,average_rating_features
0,11,Recipe for a flow state,45,62,7,36,8,https://video-cdn.socialverseapp.com/michael_9...,False,1970-01-01 00:28:18.088807,2,Vible,11.0,10.0,2.0,0.0,7.0,39.571429
1,12,Why fit in..?,42,54,0,0,0,https://video-cdn.socialverseapp.com/michael_5...,False,1970-01-01 00:28:18.096725,2,Vible,12.0,1.0,2.0,0.0,0.0,0.000000
2,13,Transcending Singularity,20,75,45,8,0,https://video-cdn.socialverseapp.com/michael_5...,False,1970-01-01 00:28:18.097013,2,Vible,13.0,57.0,0.0,0.0,44.0,20.977273
3,14,Peak Performance?,71,95,6,28,0,https://video-cdn.socialverseapp.com/michael_4...,False,1970-01-01 00:28:18.097687,2,Vible,14.0,4.0,2.0,1.0,6.0,33.333333
4,15,Our Existential Situation,64,70,9,33,0,https://video-cdn.socialverseapp.com/michael_b...,False,1970-01-01 00:28:18.098168,2,Vible,15.0,8.0,1.0,0.0,9.0,37.888889

In [3]:
# Select relevant features for recommendation
content_features = posts_df[['id', 'title', 'category_name', 'view_count', 'total_likes', 'average_rating_features']]

# Handle missing values (fill missing titles with "Unknown")
content_features['title'] = content_features['title'].fillna("Unknown")

# Display the selected features
display(content_features.info())
display(content_features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       1251 non-null   int64
 1   title                    1251 non-null   object
 2   category_name            1251 non-null   object
 3   view_count               1251 non-null   int64
 4   total_likes              1251 non-null   float64
 5   average_rating_features  1251 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 58.8+ KB

/tmp/ipykernel_29264/3663522288.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_features['title'] = content_features['title'].fillna("Unknown")

None

,id,title,category_name,view_count,total_likes,average_rating_features
0,11,Recipe for a flow state,Vible,62,2.0,39.571429
1,12,Why fit in..?,Vible,54,2.0,0.000000
2,13,Transcending Singularity,Vible,75,0.0,20.977273
3,14,Peak Performance?,Vible,95,2.0,33.333333
4,15,Our Existential Situation,Vible,70,1.0,37.888889

In [4]:
import string
from nltk.corpus import stopwords
from nltk.tokenize import TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer

# Download required NLTK resources (if not already downloaded)
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /home/rjacaac/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/rjacaac/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/rjacaac/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
# print(nltk.data.path)

['/home/rjacaac/nltk_data', '/mnt/d/Users/RJ/Career_Growth/Career Development/Job application/Internshala/AI Intern at Persist Ventures/Video-Recommendation-Assignment-Acaac/venv/nltk_data', '/mnt/d/Users/RJ/Career_Growth/Career Development/Job application/Internshala/AI Intern at Persist Ventures/Video-Recommendation-Assignment-Acaac/venv/share/nltk_data', '/mnt/d/Users/RJ/Career_Growth/Career Development/Job application/Internshala/AI Intern at Persist Ventures/Video-Recommendation-Assignment-Acaac/venv/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']

In [ ]:
# nltk.data.path.append('/home/rjacaac/nltk_data')

In [ ]:
# !ls /home/rjacaac/nltk_data/tokenizers/punkt

PY3		estonian.pickle  malayalam.pickle   spanish.pickle
README		finnish.pickle	 norwegian.pickle   swedish.pickle
czech.pickle	french.pickle	 polish.pickle	    turkish.pickle
danish.pickle	german.pickle	 portuguese.pickle
dutch.pickle	greek.pickle	 russian.pickle
english.pickle	italian.pickle	 slovene.pickle

In [5]:
# Initialize lemmatizer and stop words
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [6]:
tokenizer = TreebankWordTokenizer()

def preprocess_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = [word for word in tokenizer.tokenize(text) if word not in stop_words]
    lemmatized = [lemmatizer.lemmatize(token) for token in tokens]
    return ' '.join(lemmatized)

In [7]:
# Apply preprocessing to the title column
content_features['processed_title'] = content_features['title'].apply(preprocess_text)

# Display the updated DataFrame
content_features[['id', 'title', 'processed_title']].head()

/tmp/ipykernel_29264/3189204167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_features['processed_title'] = content_features['title'].apply(preprocess_text)

   id                      title           processed_title
0  11    Recipe for a flow state         recipe flow state
1  12              Why fit in..?                       fit
2  13   Transcending Singularity  transcending singularity
3  14          Peak Performance?          peak performance
4  15  Our Existential Situation     existential situation

In [10]:
content_features = content_features.copy()

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF Vectorizer
tfidf = TfidfVectorizer()

# Fit and transform the processed_title column
title_tfidf_matrix = tfidf.fit_transform(content_features['processed_title'])

print(title_tfidf_matrix.shape)  # (number_of_posts, number_of_features)

(1251, 2209)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity between all pairs of posts
similarity_matrix = cosine_similarity(title_tfidf_matrix, title_tfidf_matrix)

print(similarity_matrix.shape)  # Should be (1251, 1251)

(1251, 1251)

In [12]:
def get_similar_posts(post_id, N=10):
    # Get the index of the given post_id in content_features
    post_index = content_features[content_features['id'] == post_id].index[0]
    
    # Retrieve the similarity scores for this post compared to all others
    similarity_scores = list(enumerate(similarity_matrix[post_index]))
    
    # Sort by similarity score in descending order
    # similarity_scores is a list of (post_index, similarity_score)
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    
    # Exclude the post itself by starting from index 1
    top_n = similarity_scores[1:N+1]
    
    # Retrieve the corresponding post IDs
    similar_post_ids = [content_features.iloc[i[0]]['id'] for i in top_n]
    
    return similar_post_ids

In [16]:
# Get top 10 similar posts for a given post_id (e.g., 11)
recommended_posts = get_similar_posts(11, N=10)

recommended_posts = [int(post_id) for post_id in recommended_posts]
print("Recommended Posts:", recommended_posts)

Recommended Posts: [985, 12, 13, 14, 15, 16, 17, 19, 23, 26]

In [17]:
for pid in recommended_posts:
    title = content_features[content_features['id'] == pid]['title'].values[0]
    print(pid, ":", title)

985 : Its all in the state of mind - StoicMentor
12 : Why fit in..?
13 : Transcending Singularity
14 : Peak Performance?
15 : Our Existential Situation
16 : act now!
17 : Jump. Just Jump!
19 : WE ARE MADE OF STARS
23 : Direct your energy on the right things
26 : Be Brave. Be Different

In [18]:
import pandas as pd

# One-hot encode the category_name feature
category_encoded = pd.get_dummies(content_features['category_name'])

# Display the shape and a sample of the encoded categories
print("Encoded category shape:", category_encoded.shape)
category_encoded.head()

Encoded category shape: (1251, 12)

,Bloom Scroll,E/ACC,Flic,Gratitube,InstaRama,OvaDrive,Pumptok,SolTok,Startup College,Super Feed,The Igloo,Vible
0,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True

In [19]:
print(category_encoded.head())

   Bloom Scroll  E/ACC   Flic  Gratitube  InstaRama  OvaDrive  Pumptok  \
0         False  False  False      False      False     False    False
1         False  False  False      False      False     False    False
2         False  False  False      False      False     False    False
3         False  False  False      False      False     False    False
4         False  False  False      False      False     False    False

   SolTok  Startup College  Super Feed  The Igloo  Vible
0   False            False       False      False   True
1   False            False       False      False   True
2   False            False       False      False   True
3   False            False       False      False   True
4   False            False       False      False   True

In [20]:
from scipy.sparse import csr_matrix, hstack

# Convert category_encoded (DataFrame) to a sparse matrix
category_sparse = csr_matrix(category_encoded.values)

# Combine TF-IDF matrix (title_tfidf_matrix) with category matrix (category_sparse)
combined_features = hstack([title_tfidf_matrix, category_sparse])

print("Combined feature matrix shape:", combined_features.shape)

Combined feature matrix shape: (1251, 2221)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity with combined features
combined_similarity_matrix = cosine_similarity(combined_features, combined_features)

print(combined_similarity_matrix.shape)  # Should be (1251, 1251)

(1251, 1251)

In [22]:
def get_similar_posts(post_id, similarity_matrix, N=10):
    # Get the index of the given post_id in content_features
    post_index = content_features[content_features['id'] == post_id].index[0]
    
    # Retrieve the similarity scores for this post compared to all others
    similarity_scores = list(enumerate(similarity_matrix[post_index]))
    
    # Sort by similarity score in descending order, exclude the post itself
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)[1:N+1]
    
    # Retrieve the corresponding post IDs
    similar_post_ids = [int(content_features.iloc[i[0]]['id']) for i in similarity_scores]
    
    return similar_post_ids

In [23]:
# Test the new recommendations with the combined similarity
test_post_id = 11  # Example post_id
recommended_posts = get_similar_posts(test_post_id, combined_similarity_matrix, N=10)
print("Recommended Posts:", recommended_posts)

# Display titles of recommended posts
for pid in recommended_posts:
    title = content_features[content_features['id'] == pid]['title'].values[0]
    print(pid, ":", title)

Recommended Posts: [43, 696, 1250, 1315, 985, 44, 59, 85, 643, 654]
43 : why are you here?
696 : I am with you
1250 : üôèüèΩ
1315 : do it now
985 : Its all in the state of mind - StoicMentor
44 : escape the matrix
59 : push through the pain ü´°
85 : Fun fact: Oscar Wilde was a homosexual. I think that sort of adds another layer of perspective to this quote. Almost as if he was viewing the relationships between men and women from an outside point of view.
643 : By the age of 30, you must come to understand these 4 realities...
654 : Remeber, You have to take risks.

In [24]:
from sklearn.preprocessing import MinMaxScaler
from scipy.sparse import hstack, csr_matrix

# Choose the numeric features to integrate
numeric_features = content_features[['average_rating_features']].values

# Normalize the numeric features
scaler = MinMaxScaler()
numeric_scaled = scaler.fit_transform(numeric_features)

# Convert scaled numeric features to a sparse matrix to combine with existing features
numeric_sparse = csr_matrix(numeric_scaled)

# Now combine TF-IDF title features, category encodings, and numeric features
enhanced_features = hstack([title_tfidf_matrix, category_sparse, numeric_sparse])

print("Enhanced feature matrix shape:", enhanced_features.shape)

Enhanced feature matrix shape: (1251, 2222)

In [25]:
enhanced_similarity_matrix = cosine_similarity(enhanced_features, enhanced_features)
print(enhanced_similarity_matrix.shape)  # Should be (1251, 1251)

(1251, 1251)

In [26]:
test_post_id = 11  # example post_id from before
recommended_posts = get_similar_posts(test_post_id, enhanced_similarity_matrix, N=10)

print("Recommended Posts:", recommended_posts)
for pid in recommended_posts:
    title = content_features[content_features['id'] == pid]['title'].values[0]
    print(pid, ":", title)

Recommended Posts: [696, 1250, 1315, 43, 985, 1224, 422, 583, 816, 697]
696 : I am with you
1250 : üôèüèΩ
1315 : do it now
43 : why are you here?
985 : Its all in the state of mind - StoicMentor
1224 : Early morning exercise. The world‚Äôs greatest medicine. Do you agree_‚úåüèΩ#leadership #productivity #service #workout #exercise #medicine
422 : Unknown
583 : Unknown
816 : The story of prophet Elijah proving who the real God is
697 : I am strong enough to save you

In [29]:
# Assume we have 'interaction_df' with columns: user_id, post_id, interaction_type
import numpy as np

interaction_df = pd.read_csv("../data/processed/interaction_df.csv")

# Create a pivot table for user-post interactions
# Each entry will be 1 if user interacted with the post, else 0.
user_post_matrix = interaction_df.pivot_table(
    index='user_id',
    columns='post_id',
    values='interaction_type',
    aggfunc=lambda x: 1 if len(x) > 0 else 0
).fillna(0)

print("User-Post Matrix Shape:", user_post_matrix.shape)
user_post_matrix.head()

User-Post Matrix Shape: (831, 835)

post_id,11,12,13,14,15,16,17,19,23,26,...,1631,1632,1633,1634,1636,1638,1640,1641,1644,1654
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0